<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Database-->
    <add key="DatabaseConnectionString" value="server=localhost;UserId=root;Password=root;database=remotenotes;" />

    <!--Deployment-->
    <add key="DeploymentURL" value="http://192.168.1.109:5001/" />
    <!--<add key="DeploymentURL" value="http://localhost:5001/" />-->

    <!--SignalR-->
    <add key="HubName" value="ServerHub" />

  </appSettings>
</configuration>