 <div class="designed-home">
	<div class="menu">
		<app-leftmenu></app-leftmenu>
    </div>
	<div class="master-detail">
		<app-master-detail #master2>
			<div *ngIf="items2 == null" class="no-note-text">
				<p>There is no note here</p>
			</div>
			<ul>
				<li *ngFor="let item of items2" (click)="master2.open(item)" class="use-elem">
					<a href="javascript:void(0);">
						<div class="use-elem-link">
							{{ item.id }}. {{ item.title }}
						</div>
					</a>
				</li>
			</ul>
			<div *appDetailView="let item; let ctrl = controller">
				<h3 class="h3">{{ item.title }}</h3>
				<p class="note-text note-marging">{{ item.text }}</p>
				<img style="width: 200px; height: 200px;" src="{{item.img}}">
				<div class="note-date-changing note-marging note-p">
					<p type="text">Publish time {{ item.ptime | date : "dd.MM.y h:mm" }}</p>
					<p type="text">Modify time {{ item.mtime | date : "dd.MM.y h:mm" }}</p>
				</div>
				<!--<button (click)="ctrl.close()">Close</button>-->
				<div class="use-elem use-elem-button-md btn">
					<button [routerLink]="['/note', item.id]" class="btn">Edit</button>
				</div>
			</div>
		</app-master-detail>
	</div>
</div>
